@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gudea:wght@400;700&display=swap');

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  font-family: 'Cedarville Cursive';
  font-weight: 700;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-menu li {
  margin-right: 20px;
}

.navbar-menu li a {
  font-family: 'Cedarville Cursive', cursive;
  font-weight: 600;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}

/* Toggle animation styles */
.navbar-toggle.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.navbar-toggle.open .bar:nth-child(2) {
  opacity: 0;
}

.navbar-toggle.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #f9f9f9;
    position: absolute;
    top: 60px;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .navbar-toggle {
    display: flex;
  }

  .navbar-menu.open {
    display: flex;
  }

  .navbar-menu li {
    margin: 10px 0;
    text-align: center;
  }

  .navbar-menu li a {
    font-size: 1.5rem;
    color: black;
  }
}
